@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navbar{
    display:block;
    background: #DBE2EF;
    font-size: 25px; 
    font-family: 'Montserrat', sans-serif;;
}

.upperNavbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo{
    cursor:pointer;
    display: block;
}

.navbar__logo-h1{
    color: #112D4E;
    font-family: 'Bebas Neue', cursive;
}

.navbar__redes a{
    margin: 0px 10px;
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
    background:white;
}

.navbar__redes-tube{
color: #b2071d;
transition: all ease 1s
}

.navbar__redes-tube:hover{
    color: white;
    background: #b2071d;
}

.navbar__redes-face{
    color: #3b5998;
}

.navbar__redes-face:hover{
    color: white;
    background: #3b5998;
    font-size: 25px;
}

.navbar__redes-twit{
    color: #00acee
}

.navbar__redes-insta{
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
}


.downerNavbar{
    background: #F9F7F7;
    text-align: center;
}

.downerNavbar__ul{
    display: inline-block;
}

.downerNavbar__ul-li{
    display: inline-block;
    margin: 0px 20px;
    list-style: none;
    transition: all ease 0.75s;
    font-size: 30px;
    padding: 0px 10px;
}

.downerNavbar__ul-li:hover{
    color: #F9F7F7;
    background: #3F72AF;
    cursor: pointer;
}

.downerNavbar__ul-li a{
    color: black;
}