@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.notFound{
    margin: 1rem 2rem auto;
    padding: 2rem;
    background: #fa6400;
    font-size: 50px;
    border-radius: 20px;
}

.logo300{
    display: inline-block;
    font-size: 50px;
    margin: 10px auto;
    font-family: 'Bebas Neue', cursive;
}

.notFound p{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: justify;
}

.center{
    display: flex;
    margin: 10px auto;
    align-items:baseline;
    justify-content: center
}